@media screen and (max-width:1200px) {
    .container {
        width: 992px;
    }
}



@media screen and (max-width:992px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
}



@media screen and (max-width:768px) {
    .container {
        max-width: 576px;
        width: 100%;
    }
}



@media screen and (max-width:576px) {
    .container {
        width: 100%;
    }

    .content .profile {
        flex-direction: column;
        gap: 15px;
    }
    

    .content .profile :is(.img-box, .info) {
        width: 100%;
        height: 250px;
    }
    

    .content .profile .info {
        height: 150px;
    }
    
    .box-form {
        width: 100%;
    }

    
}



